<div class="photoalbum">
  <p class="text-center">Photoalbum</p>
  <div class="row">
    <% data.photoalbum.each do |photo| %>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="photo-polaroid">
          <%= image_tag photo.name %>
          <div class="photo-description text-center">
            <p><%= photo.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
