---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <div class="text-center">
      <%= image_tag "blurry-olive.jpg", class: "coverphoto" %>
    </div>
    <p>
      <%= t(:description) %>
    </p>
    <h4>
      <%= t(:pets) %>
    </h4>
  </div>
</div>
